/*****************************************************************************************
*
*	name: image-grid.less
*   path: components/_image-grid.less
*	version: 1.0.0
*	description: client listing
*	author: Cristian Voinea
*	e-mail: cvoinea@tremend.ro
*	url: http://www.tremend.ro
*
*****************************************************************************************/


// 9 items grid
.view-client-listing {
	.view-content {
		.make-row;
        padding-top: @grid-gutter-width;
        padding-bottom: @grid-gutter-width;
        position: relative;
        overflow: hidden;
        &:after {
            content: "";
            display: block;
            height: 1px;
            background: @brand-light;
            position: absolute;
            bottom: @grid-gutter-width;
            left: 0;
            right: 0;
        }
		.views-row {
            .make-sm-column(6);
			.make-md-column(2);
            border-right: 1px solid @gray-lighter;
            @media (min-width: @screen-md) {
                height: (@grid-gutter-width *2);
                line-height: (@grid-gutter-width *2);
            }
            @media (max-width: @screen-md) {
                padding-bottom: @grid-gutter-width;
                padding-top: @grid-gutter-width;
                border-bottom: 1px solid @gray-lighter;
                line-height: (@grid-gutter-width *3);
                &:nth-child(3n) {
                    border-right: none;
                }
            }
            @media (max-width: @screen-sm) {
                &:nth-child(2n) {
                    border-right: none;
                }
                &:nth-child(odd) {
                    border-right: 1px solid @gray-lighter;
                }
                &:nth-last-child(1) {
                    display: none;
                }
            }
            @media (max-width: @screen-sm) {
                float: left; 
                width: 25%;
                &:nth-child(2n) {
                    border-right: 1px solid @gray-lighter;
                }
                &:nth-child(4n) {
                    border-right: none;
                }
            }
			.views-field {
				.field-content {
					text-align: center;
					img {
						width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: (@grid-gutter-width *2);
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
                        filter: gray;
                        filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
                        &:hover {
                            filter:none;
                        }
					}
				}
			}
            &:last-child {
                border: none;
            }
		}
	}
}

// exception for case studies page
.section-case-studies {
    .view-client-listing {
        .view-content {
            padding-top: 0px;
        }
        .views-row {
			.make-md-column(3);
            border-bottom: 1px solid @gray-lighter;
            @media (min-width: @screen-md-min) {
                &:nth-child(6n) {
                    border-right: none!important;
                }
            }
            @media (max-width: @screen-sm) {
                &:nth-last-child(1) {
                    display: block;
                }
                &:nth-last-child(-n+3) {
                    border-bottom: 1px solid @gray-lighter;
                }
            }
        }
        .field-content {
            @media (min-width: @screen-md-min) {
                img {
                    max-width: 60%!important;
                }
            }
        }
    }
}

// full items grid
.node--full {
    .field--name-field-client {
        &.field--type-entityreference {
            > .field__items {
        		.make-row;
                padding-top: @grid-gutter-width;
                padding-bottom: @grid-gutter-width;
                > .field__item {
                    .make-xs-column(9);
                    .make-sm-column(6);
        			.make-md-column(2);
                    @media (min-width: @screen-md) {
                        height: (@grid-gutter-width *2);
                        line-height: (@grid-gutter-width *2);
                    }
                    @media (max-width: @screen-md) {
                        padding-bottom: @grid-gutter-width;
                        padding-top: @grid-gutter-width;
                    }
                    .node--client {
                        .node__content {
                            .field--name-field-image {
                                .field__items {
                                    .field__item {
                                        text-align: center;
                                        img {
                    						width: auto;
                                            height: auto;
                                            max-width: 100%;
                    						max-height: (@grid-gutter-width *2);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


// client page logo listing

.section-case-studies {
    .view-client-listing {
        .view-content {
            .views-row {
                padding-top: (@grid-gutter-width *2);
                padding-bottom: (@grid-gutter-width *3);
                @media (max-width: @screen-sm-max) {
                    padding-top: (@grid-gutter-width /1.5);
                    padding-bottom: (@grid-gutter-width /1.5);
                }
            }
        }
    }
}
